<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jnshu.mapper.UserMapper">
   <delete id="deleteById" parameterType="java.lang.Long">
       delete from user where id=#{id}
   </delete>
    <select id="findById" resultType="com.jnshu.domain.User">
        select * from user where id=#{id};
    </select>
 </mapper>